{% extends 'base.html' %}

{% block content %}
  <h1>Bem-vindo ao Gerenciador de Projetos</h1>
  <p>Escolha uma das opções abaixo:</p>

  <ul>
    <li><a href="{% url 'user_add' %}">Criar usuário</a></li>
    <li><a href="{% url 'user_list' %}">Listar usuários</a></li>
    <li><a href="{% url 'project_add' %}">Criar projeto</a></li>
    <li><a href="{% url 'project_list' %}">Listar projetos</a></li>
    <li><a href="{% url 'user_project_associate' %}">Adicionar usuário a projeto</a></li>
  </ul>
{% endblock %}
