{% extends 'base.html' %}

{% block content %}
  <h1>Lista de usuários e seus projetos:</h1>
  <table>
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Projetos</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>
            <ul>
              {% for project in user.projects.all %}
                <li>{{ project.name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">Nenhum usuário encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
