{% extends 'base.html' %}
{% block title %}Detalhes dos Projetos{% endblock title %}
{% block content %}
  <h1 class="text-center">Lista de Projetos</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Projeto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
        <th scope="col">Setor</th>
        <th scope="col">Usuários</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{project.descricao}}</td>
          <td>{{project.status}}</td>
          <td>{{project.setor}}</td>
        <td>
          {% if project.users.exists %}
          <ul>
            {% for user_project in project.users.all %}
            <li>{{ user_project.name }}</li>
            {% endfor %}
          </ul>
          {% else %}
          Projeto sem equipe
          {% endif %}
        </td>
        <td><a type="submit" href = {% url 'edit_project' project.id %}> Editar </a></td>
        <td><a type="submit" href = {% url 'delete_project' project.id %} > Excluir </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if projects|length == 0 %}
  <p>Nenhum projeto encontrado.</p>
  {% endif %}
{% endblock %}
