{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ user.name }}</h1>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Projetos:</strong></p>
        {% if user.projects.all %}
          <ul>
            {% for project in user.projects.all %}
              <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <p>O usuário ainda não está em nenhum projeto.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
