{% extends 'base.html' %}
{% block title %}Detalhes dos Usuários{% endblock title %}
{% block content %}
  <h1 class="text-center">Lista de Usuários</h1>
  <div class="d-flex justify-content-center">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Projetos</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% if user.users_projects.exists %}
              <ul>
                {% for project in user.users_projects.all %}
                  <li>{{ project.name }}</li>
                {% endfor %}
              </ul>
            {% else %}
              Sem projetos
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
